.container{
    width: 100%;
    height: fit-content;
    // background-color: #e61e1e;
    padding: 50px 150px;
   
    @include breakpoint-down(1040px){
        padding: 50px 100px;
    }
    @include breakpoint-down(936px){
      padding: 50px 80px;
    }

      @include breakpoint-down(850px){
        padding: 20px 40px;
       }

    .menu{
        width: 100%;
        height: fit-content;
        // background-color: blue;
        display: flex;
        justify-content: space-between;
      
        
        @include breakpoint-down(936px){
            display: none;
          }
      

        .logo{
            width: 200px;
            height: 50px;
            // background-color: chartreuse;
            display: flex;
            justify-content: start;
            align-items: center;
            // position: sticky;
            .vseg{
                font-size: 50px;
                font-family: "Dancing Script", cursive;
                color: white;
            }
            p{
                font-size: 40px;
                font-family: "Dancing Script", cursive;
                color: #F95803;
            }
            @include breakpoint-down (1220px){
                display: none;
            }
        }
        .home{
            width: 600px;
            height: 50px;
            // background-color: #d2691e;
            display: flex;
            justify-content: space-between;
            a{
                text-decoration: none;
            }

            .home1{
                width: 100px;
                height: 100%;
                // background-color: cadetblue;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                color: white;
                p{
                    color: #F95803;
                }
            }
            .home1:hover {
                color: #F95803;
            }
            @include breakpoint-down (1220px){
               margin: auto;
            }
        }
    }
}