@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Chivo:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Chivo:ital,wght@0,100..900;1,100..900&family=Cutive&family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamgintomdiv {
  width: 100%;
}

.arinharungu {
  background-color: black;
}

.container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 150px;
}
@media only screen and (max-width: 1039px) {
  .container {
    padding: 50px 100px;
  }
}
@media only screen and (max-width: 935px) {
  .container {
    padding: 50px 80px;
  }
}
@media only screen and (max-width: 849px) {
  .container {
    padding: 20px 40px;
  }
}
.container .menu {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 935px) {
  .container .menu {
    display: none;
  }
}
.container .menu .logo {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.container .menu .logo .vseg {
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  color: white;
}
.container .menu .logo p {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  color: #F95803;
}
@media only screen and (max-width: 1219px) {
  .container .menu .logo {
    display: none;
  }
}
.container .menu .home {
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.container .menu .home a {
  text-decoration: none;
}
.container .menu .home .home1 {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
}
.container .menu .home .home1 p {
  color: #F95803;
}
.container .menu .home .home1:hover {
  color: #F95803;
}
@media only screen and (max-width: 1219px) {
  .container .menu .home {
    margin: auto;
  }
}

.maxwidth {
  max-width: 1400px;
  margin: auto;
}

.hello {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.hello .bagtaah {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
}
.hello .bagtaah h1 {
  font-size: 80px;
  color: #F95803;
  font-family: "Chivo", sans-serif;
  font-weight: black;
  display: flex;
  align-items: start;
}
.hello .bagtaah h1 span {
  color: white;
}
.hello .bagtaah h1 span:hover {
  color: #F95803;
  transition: 1s;
}
@media only screen and (max-width: 1199px) {
  .hello .bagtaah h1 {
    font-size: 70px;
  }
}
@media only screen and (max-width: 1161px) {
  .hello .bagtaah h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 1071px) {
  .hello .bagtaah h1 {
    font-size: 55px;
  }
}
@media only screen and (max-width: 935px) {
  .hello .bagtaah h1 {
    font-size: 80px;
  }
}
@media only screen and (max-width: 769px) {
  .hello .bagtaah h1 {
    font-size: 70px;
  }
}
@media only screen and (max-width: 657px) {
  .hello .bagtaah h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 567px) {
  .hello .bagtaah h1 {
    font-size: 55px;
  }
}
@media only screen and (max-width: 541px) {
  .hello .bagtaah h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 481px) {
  .hello .bagtaah h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .hello .bagtaah h1 {
    font-size: 35px;
  }
}
.hello .bagtaah h1:hover {
  color: white;
  transition: 1s;
}
.hello .bagtaah .ner {
  width: 100%;
  height: 30px;
  margin-top: 30px;
  font-size: 60px;
  font-family: "Chewy", system-ui;
  color: white;
}
.hello .bagtaah .ner .ungu1 {
  color: #F95803;
}
.hello .bagtaah .ner .ungu1 .gold {
  color: white;
  transition: 1s;
}
.hello .bagtaah .ner .tseg {
  color: #F95803;
}
@media only screen and (max-width: 1199px) {
  .hello .bagtaah .ner {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1161px) {
  .hello .bagtaah .ner {
    font-size: 45px;
  }
}
@media only screen and (max-width: 1071px) {
  .hello .bagtaah .ner {
    font-size: 40px;
  }
}
@media only screen and (max-width: 935px) {
  .hello .bagtaah .ner {
    font-size: 60px;
  }
}
@media only screen and (max-width: 769px) {
  .hello .bagtaah .ner {
    font-size: 50px;
  }
}
@media only screen and (max-width: 657px) {
  .hello .bagtaah .ner {
    font-size: 45px;
  }
}
@media only screen and (max-width: 597px) {
  .hello .bagtaah .ner {
    font-size: 40px;
  }
}
@media only screen and (max-width: 541px) {
  .hello .bagtaah .ner {
    font-size: 35px;
  }
}
@media only screen and (max-width: 483px) {
  .hello .bagtaah .ner {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 541px) {
  .hello .bagtaah .ner {
    font-size: 30px;
  }
}
@media only screen and (max-width: 425px) {
  .hello .bagtaah .ner {
    font-size: 25px;
  }
}
.hello .bagtaah .ner1 {
  width: 100%;
  height: 30px;
  margin-top: 50px;
  font-size: 20px;
  color: white;
  font-family: "Cutive", serif;
}
@media only screen and (max-width: 1199px) {
  .hello .bagtaah .ner1 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1071px) {
  .hello .bagtaah .ner1 {
    font-size: 13px;
  }
}
@media only screen and (max-width: 1071px) {
  .hello .bagtaah .ner1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 769px) {
  .hello .bagtaah .ner1 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 597px) {
  .hello .bagtaah .ner1 {
    font-size: 13px;
  }
}
@media only screen and (max-width: 483px) {
  .hello .bagtaah .ner1 {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 541px) {
  .hello .bagtaah .ner1 {
    font-size: 13px;
  }
}
.hello .bagtaah .ner2 {
  width: 50%;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.hello .bagtaah .ner2 .icon {
  width: 50px;
  height: 100%;
  border: 1px solid #F95803;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello .bagtaah .ner2 .icon i {
  color: #F95803;
}
@media only screen and (max-width: 1199px) {
  .hello .bagtaah .ner2 .icon {
    width: 40px;
  }
}
@media only screen and (max-width: 483px) {
  .hello .bagtaah .ner2 .icon {
    width: 30px;
  }
}
@media only screen and (max-width: 1199px) {
  .hello .bagtaah .ner2 {
    width: 60%;
    height: 40px;
  }
}
@media only screen and (max-width: 541px) {
  .hello .bagtaah .ner2 {
    width: 70%;
  }
}
@media only screen and (max-width: 483px) {
  .hello .bagtaah .ner2 {
    width: 80%;
    height: 30px;
    margin-top: 20px;
  }
}
.hello .bagtaah .icon:hover i {
  color: cadetblue;
  transition: 1s;
}
.hello .bagtaah .ner3 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 32px;
  background-color: #F95803;
  margin-top: 50px;
  border-radius: 10px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  box-shadow: 5px 3px 43px 4px rgba(249, 88, 3, 0.75);
}
@media only screen and (max-width: 541px) {
  .hello .bagtaah .ner3 {
    padding: 12px 24px;
  }
}
.hello .bagtaah .ner3 .uusgah {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F95803;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello .bagtaah .ner3 .uusgah:hover {
  transition: 1s;
  color: cadetblue;
}
@media only screen and (max-width: 1199px) {
  .hello .bagtaah {
    width: 40%;
  }
}
@media only screen and (max-width: 1075px) {
  .hello .bagtaah {
    display: none;
  }
}
@media only screen and (max-width: 935px) {
  .hello .bagtaah {
    width: 60%;
    margin: auto;
    display: block;
  }
}
.hello .bagtaah1 {
  position: relative;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}
.hello .bagtaah1 img {
  width: 100%;
}
.hello .bagtaah1 .zurag936 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.hello .bagtaah1 .zurag936 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 935px) {
  .hello .bagtaah1 .zurag936 {
    display: block;
  }
}
@media only screen and (max-width: 1219px) {
  .hello .bagtaah1 {
    margin: auto;
  }
}
@media only screen and (max-width: 935px) {
  .hello .bagtaah1 {
    display: none;
  }
}

.about {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}
@media only screen and (max-width: 1039px) {
  .about {
    padding: 50px 100px;
  }
}
@media only screen and (max-width: 935px) {
  .about {
    padding: 50px 80px;
  }
}
@media only screen and (max-width: 849px) {
  .about {
    flex-direction: column;
  }
}
@media only screen and (max-width: 849px) {
  .about {
    padding: 20px 40px;
  }
}
.about .about1 {
  width: 50%;
  height: 100%;
}
.about .about1 .uusgalt {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 10px solid #f95803;
  box-shadow: -1px 6px 24px -2px #f95803;
}
.about .about1 .uusgalt .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 90%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 50px 25px 49px 17px rgba(249, 88, 3, 0.75);
  border: 10px solid #f95803;
  opacity: 0 img;
  opacity-width: 100%;
  opacity-height: 100%;
}
@media only screen and (max-width: 1219px) {
  .about .about1 .uusgalt {
    width: 350px;
    height: 350px;
  }
}
@media only screen and (max-width: 1079px) {
  .about .about1 .uusgalt {
    width: 330px;
    height: 330px;
  }
}
@media only screen and (max-width: 1039px) {
  .about .about1 .uusgalt {
    width: 310px;
    height: 310px;
  }
}
@media only screen and (max-width: 471px) {
  .about .about1 .uusgalt {
    width: 280px;
    height: 280px;
  }
}
.about .about2 {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
}
.about .about2 .bichig {
  width: 100%;
  height: 50px;
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
}
@media only screen and (max-width: 1229px) {
  .about .about2 .bichig {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 1079px) {
  .about .about2 .bichig {
    font-size: 28px;
  }
}
@media only screen and (max-width: 1039px) {
  .about .about2 .bichig {
    font-size: 26px;
  }
}
@media only screen and (max-width: 699px) {
  .about .about2 .bichig {
    font-size: 23px;
  }
}
.about .about2 .bichig .me1 {
  color: #f95803;
}
@media only screen and (max-width: 1079px) {
  .about .about2 .bichig .me1 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 1039px) {
  .about .about2 .bichig .me1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 849px) {
  .about .about2 .bichig .me1 {
    height: 30px;
  }
}
@media only screen and (max-width: 699px) {
  .about .about2 .bichig .me1 {
    font-size: 23px;
  }
}
.about .about2 .bichig .me1:hover {
  color: black;
  transition: 1s;
}
.about .about2 .bichig:hover {
  color: #f95803;
  transition: 1s;
}
.about .about2 .bichig1 {
  width: 100%;
  font-family: "Cutive", serif;
}
@media only screen and (max-width: 1079px) {
  .about .about2 .bichig1 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1039px) {
  .about .about2 .bichig1 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 699px) {
  .about .about2 .bichig1 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 561px) {
  .about .about2 .bichig1 {
    font-size: 12px;
  }
}
.about .about2 .bichig2 {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  line-height: 150%;
}
@media only screen and (max-width: 549px) {
  .about .about2 .bichig2 {
    line-height: 200%;
  }
}
@media only screen and (max-width: 1219px) {
  .about .about2 .bichig2 {
    font-size: 15px;
  }
}
.about .about2 .bichig3 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px 36px;
  border-radius: 10px;
  color: white;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.about .about2 .bichig3 .uusgalt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 16px 36px;
  background-color: #f95803;
  border-radius: 10px;
  box-shadow: 5px 3px 43px 4px rgba(249, 88, 3, 0.75);
}
@media only screen and (max-width: 1325px) {
  .about .about2 .bichig3 {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1231px) {
  .about .about2 .bichig3 {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 378px) {
  .about .about2 .bichig3 {
    margin-top: 50px;
  }
}
.about .about2 .bichig3:hover .uusgalt {
  color: cadetblue;
  transition: 1s;
}
@media only screen and (max-width: 849px) {
  .about .about2 {
    width: 100%;
  }
}

.services {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 150px;
}
@media only screen and (max-width: 1039px) {
  .services {
    padding: 50px 100px;
  }
}
@media only screen and (max-width: 935px) {
  .services {
    padding: 50px 80px;
  }
}
@media only screen and (max-width: 849px) {
  .services {
    padding: 20px 40px;
  }
}
.services .our {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-size: 50px;
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  margin: auto;
}
.services .our span {
  color: #f95803;
}
.services .our p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: rgb(75, 74, 74);
}
@media only screen and (max-width: 565px) {
  .services .our p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 891px) {
  .services .our {
    width: 70%;
  }
}
@media only screen and (max-width: 681px) {
  .services .our {
    width: 90%;
  }
}
@media only screen and (max-width: 565px) {
  .services .our {
    font-size: 40px;
  }
}
@media only screen and (max-width: 441px) {
  .services .our {
    font-size: 35px;
    width: 100%;
  }
}
.services .tomdiv {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
@media only screen and (max-width: 849px) {
  .services .tomdiv {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 891px) {
  .services .tomdiv {
    margin-top: 30px;
  }
}
.services .tomdiv .our1 {
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f95803;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.services .tomdiv .our1 .icon1 {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}
@media only screen and (max-width: 1263px) {
  .services .tomdiv .our1 .icon1 {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (max-width: 10099px) {
  .services .tomdiv .our1 .icon1 {
    width: 70px;
    height: 70px;
  }
}
@media only screen and (max-width: 849px) {
  .services .tomdiv .our1 .icon1 {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (max-width: 398px) {
  .services .tomdiv .our1 .icon1 {
    width: 50px;
    height: 50px;
  }
}
.services .tomdiv .our1 .icon1:hover {
  color: cadetblue;
  transition: 1s;
}
.services .tomdiv .our1 .garchig {
  width: 100%;
  height: 20px;
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
.services .tomdiv .our1 .garchig span {
  color: white;
}
@media only screen and (max-width: 398px) {
  .services .tomdiv .our1 .garchig {
    font-size: 16px;
  }
}
.services .tomdiv .our1 .text {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: rgb(75, 74, 74);
  margin-top: 10px;
}
@media only screen and (max-width: 398px) {
  .services .tomdiv .our1 .text {
    font-size: 14px;
  }
}
.services .tomdiv .our1 .bottom {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 36px;
  background-color: rgb(223, 7, 7);
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  box-shadow: -1px 6px 24px -2px white;
}
.services .tomdiv .our1 .bottom .uusgalt0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 398px) {
  .services .tomdiv .our1 .bottom {
    padding: 14px 30px;
  }
}
@media only screen and (max-width: 398px) {
  .services .tomdiv .our1 .bottom {
    padding: 12px 20px;
  }
}
.services .tomdiv .our1 .bottom:hover .uusgalt0 {
  color: cadetblue;
  transition: 1s;
}
@media only screen and (max-width: 849px) {
  .services .tomdiv .our1 {
    width: 50%;
  }
}
@media only screen and (max-width: 715px) {
  .services .tomdiv .our1 {
    width: 70%;
  }
}
@media only screen and (max-width: 515px) {
  .services .tomdiv .our1 {
    width: 80%;
  }
}
@media only screen and (max-width: 469px) {
  .services .tomdiv .our1 {
    width: 90%;
  }
}
@media only screen and (max-width: 398px) {
  .services .tomdiv .our1 {
    width: 100%;
  }
}
@media only screen and (max-width: 829px) {
  .services .tomdiv .our1 {
    margin-top: 20px;
  }
}

.porject {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 150px;
}
@media only screen and (max-width: 1039px) {
  .porject {
    padding: 50px 100px;
  }
}
@media only screen and (max-width: 935px) {
  .porject {
    padding: 50px 80px;
  }
}
@media only screen and (max-width: 849px) {
  .porject {
    padding: 20px 40px;
  }
}
.porject .our {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-size: 50px;
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  margin: auto;
}
.porject .our span {
  color: #f95803;
}
.porject .our p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: rgb(75, 74, 74);
}
@media only screen and (max-width: 565px) {
  .porject .our p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 891px) {
  .porject .our {
    width: 70%;
  }
}
@media only screen and (max-width: 681px) {
  .porject .our {
    width: 90%;
  }
}
@media only screen and (max-width: 441px) {
  .porject .our {
    font-size: 35px;
    width: 100%;
  }
}
.porject .tomdiv {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 849px) {
  .porject .tomdiv {
    flex-direction: column;
    align-items: center;
  }
}
.porject .tomdiv .zurag {
  position: relative;
  width: 30%;
  height: 200px;
  border-radius: 10px;
}
.porject .tomdiv .zurag img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.porject .tomdiv .zurag .uusgalt {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(245, 62, 16, 0.952), rgba(248, 134, 134, 0.623));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transition: 1s;
  visibility: hidden;
  opacity: 0;
}
.porject .tomdiv .zurag .uusgalt .garchig {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}
.porject .tomdiv .zurag .uusgalt .garchig span {
  color: black;
}
.porject .tomdiv .zurag .uusgalt .text {
  width: 70%;
  color: rgb(206, 203, 203);
  text-align: center;
  margin-top: 10px;
}
.porject .tomdiv .zurag .uusgalt .icon0 {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 10px;
}
.porject .tomdiv .zurag .uusgalt .icon0:hover i {
  color: cadetblue;
  transition: 1s;
}
@media only screen and (max-width: 849px) {
  .porject .tomdiv .zurag {
    width: 50%;
  }
}
@media only screen and (max-width: 715px) {
  .porject .tomdiv .zurag {
    width: 70%;
  }
}
@media only screen and (max-width: 515px) {
  .porject .tomdiv .zurag {
    width: 80%;
  }
}
@media only screen and (max-width: 469px) {
  .porject .tomdiv .zurag {
    width: 90%;
  }
}
@media only screen and (max-width: 398px) {
  .porject .tomdiv .zurag {
    width: 100%;
  }
}
@media only screen and (max-width: 849px) {
  .porject .tomdiv .zurag {
    margin-top: 20px;
  }
}
.porject .tomdiv .zurag:hover .uusgalt {
  visibility: visible;
  opacity: 1;
}

.menuhamgiintom {
  width: 100%;
  height: 60px;
  background-color: white;
  margin: auto;
  padding: 0px 150px;
  display: none;
}
@media only screen and (max-width: 1219px) {
  .menuhamgiintom {
    display: block;
  }
}
.menuhamgiintom .logoehlel {
  width: 100%;
  height: 100%;
}
.menuhamgiintom .logoehlel .logo {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menuhamgiintom .logoehlel .logo .vseg {
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  color: black;
}
.menuhamgiintom .logoehlel .logo p {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  color: #F95803;
  letter-spacing: 3mm;
}

.contactme {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 150px;
  display: flex;
}
@media only screen and (max-width: 1039px) {
  .contactme {
    padding: 50px 100px;
  }
}
@media only screen and (max-width: 935px) {
  .contactme {
    padding: 50px 80px;
  }
}
@media only screen and (max-width: 849px) {
  .contactme {
    padding: 20px 40px;
  }
}
.contactme .me1 {
  width: 50%;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  margin-top: 20px;
}
.contactme .me1 .get {
  width: 80%;
  height: 30px;
  margin: auto;
  font-size: 25px;
  color: #F95803;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.contactme .me1 .get:hover {
  color: cadetblue;
  transition: 1s;
}
.contactme .me1 .get1 {
  width: 80%;
  height: 40px;
  background-color: #E6E6E6;
  gap: 10px;
  margin: auto;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.199);
  padding: 10px 10px;
}
@media only screen and (max-width: 849px) {
  .contactme .me1 .get1 {
    margin-top: 20px;
  }
}
.contactme .me1 .get3 {
  width: 80%;
  height: 150px;
  background-color: #E6E6E6;
  margin: auto;
  color: rgba(0, 0, 0, 0.199);
  padding: 10px 10px;
  border-radius: 5px;
}
@media only screen and (max-width: 849px) {
  .contactme .me1 .get3 {
    margin-top: 20px;
  }
}
.contactme .me1 .get4 {
  width: 80%;
  height: 40px;
  background-color: #F95803;
  gap: 10px;
  margin: auto;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media only screen and (max-width: 849px) {
  .contactme .me1 .get4 {
    margin-top: 20px;
  }
}
.contactme .me1 .get4:hover {
  color: cadetblue;
  transition: 1s;
}
.contactme .me1 .zurag {
  width: 100%;
  height: 65%;
}
.contactme .me1 .zurag img {
  width: 100%;
  height: 100%;
}
.contactme .me1 .icon {
  width: 100%;
  height: 35%;
  display: flex;
}
.contactme .me1 .icon .bichig {
  width: 200px;
  height: 35px;
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.342);
}
.contactme .me1 .icon .bichig:hover {
  color: cadetblue;
  transition: 1s;
}
@media only screen and (max-width: 849px) {
  .contactme .me1 .icon {
    gap: 10px;
  }
}
.contactme .me1 .icon .icondiv {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactme .me1 .icon .icondiv .icon1 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #F95803;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F95803;
  margin-top: 15px;
}
.contactme .me1 .icon .icondiv .icon1:hover {
  color: cadetblue;
  transition: 1s;
}
@media only screen and (max-width: 849px) {
  .contactme .me1 {
    width: 50%;
  }
}
@media only screen and (max-width: 715px) {
  .contactme .me1 {
    width: 70%;
  }
}
@media only screen and (max-width: 515px) {
  .contactme .me1 {
    width: 80%;
  }
}
@media only screen and (max-width: 469px) {
  .contactme .me1 {
    width: 90%;
  }
}
@media only screen and (max-width: 398px) {
  .contactme .me1 {
    width: 100%;
  }
}
@media only screen and (max-width: 849px) {
  .contactme .me1 {
    margin-top: 20px;
  }
}
.contactme .me1-2 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media only screen and (max-width: 849px) {
  .contactme .me1-2 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
.contactme .me1-1 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media only screen and (max-width: 849px) {
  .contactme .me1-1 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
@media only screen and (max-width: 849px) {
  .contactme {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=sky.css.map */