@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Chivo:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Chivo:ital,wght@0,100..900;1,100..900&family=Cutive&family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamgintomdiv {
  width: 100%;
}

.arinharungu {
  background-color: black;
}

.container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 150px;
}
.container .menu {
  width: 100%;
  height: 50px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
}
.container .menu .logo {
  width: 200px;
  height: 50px;
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .menu .logo .vseg {
  font-size: 70px;
  font-family: "Dancing Script", cursive;
}
.container .menu .logo p {
  font-size: 56px;
  font-family: "Dancing Script", cursive;
  color: #F95803;
}
.container .menu .home {
  width: 600px;
  height: 100%;
  background-color: #d2691e;
  display: flex;
  justify-content: space-between;
}
.container .menu .home .home1 {
  width: 100px;
  height: 100%;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
}
.container .menu .home .home1 p {
  color: #F95803;
}

.maxwidth {
  max-width: 1400px;
  margin: auto;
}

.hello {
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 50px;
  overflow: hidden;
}
.hello .zurag {
  position: absolute;
  width: 500px;
  height: 400px;
  background-color: #F95803;
  top: 300px;
  left: 695px;
  border-radius: 50%;
  box-shadow: -9px -4px 24px 4px rgba(255, 105, 0, 0.72);
}
.hello .zurag .zurag0 {
  width: 100%;
  height: 100%;
  background-color: #F95803;
  border-radius: 50%;
}
.hello .zurag .zurag0 img {
  position: absolute;
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow-y: visible;
  overflow-x: visible;
  right: 200px;
  bottom: 270px;
}
.hello h1 {
  font-size: 100px;
  color: #F95803;
  font-family: "Chivo", sans-serif;
  font-weight: black;
}
.hello h1 span {
  color: white;
}
.hello .ner {
  width: 50%;
  height: 50px;
  margin-top: 50px;
  font-size: 70px;
  font-family: "Chewy", system-ui;
  color: white;
}
.hello .ner .ungu1 {
  color: #F95803;
}
.hello .ner .ungu1 .gold {
  color: white;
}
.hello .ner .tseg {
  color: #F95803;
}
.hello .ner1 {
  width: 40%;
  height: 50px;
  margin-top: 50px;
  font-size: 26px;
  color: white;
  font-family: "Cutive", serif;
}
.hello .ner2 {
  width: 25%;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.hello .ner2 .icon {
  width: 50px;
  height: 100%;
  border: 1px solid #F95803;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello .ner2 .icon i {
  color: #F95803;
}
.hello .ner3 {
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 32px;
  background-color: #F95803;
  margin-top: 50px;
  border-radius: 10px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.hello .zurag1 {
  width: 50%;
  height: 100%;
  background-color: brown;
}

.about {
  width: 100%;
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}
.about .about1 {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 10px solid #f95803;
  box-shadow: 0px 0px 26px 4px rgba(255, 105, 0, 0.72);
}
.about .about1 .uusgalt {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.about .about1 .uusgalt img {
  position: absolute;
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow-y: visible;
  -webkit-clip-path: inset(-15% 0 3% 0);
          clip-path: inset(-15% 0 3% 0);
}
.about .about2 {
  width: 50%;
  height: 100%;
  background-color: blue;
}
.about .about2 .bichig {
  width: 100%;
  height: 50px;
  font-family: "Chivo", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
}
.about .about2 .bichig .me1 {
  color: #f95803;
}
.about .about2 .bichig1 {
  width: 100%;
  height: 25px;
  background-color: chartreuse;
  font-family: "Cutive", serif;
}
.about .about2 .bichig2 {
  width: 100%;
  height: 130px;
  background-color: chocolate;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.about .about2 .bichig3 {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px 36px;
  background-color: #f95803;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}
.about .about2 .bichig3 .uusgalt {
  width: 100%;
  height: 100%;
  background-color: #14e236;
}/*# sourceMappingURL=sky.css.map */